defaults:
  - data: standalone_multiview_train

exp_name: baseline





postprocess:
  train:
    to_extri: True
    align:
      to_first_cam: 
        enabled: True 
        points: True
      pr_align_cam:
        enabled: False
        points: False
      pred_center:
        enabled: &pts_align_to_center False
        align_pose: True
      pts_align_to_gt:
        enabled: &pts_align_to_gt False
      pts_align_to_gt_rot:
        enabled: &pts_align_to_gt_rot False
      gt_align_to_pts:
        enabled: &gt_align_to_pts False
      depth_align_to_gt:
        enabled: False
    normalize:
      gt_pts: True
      gt_depth: False
      gt_pts_invariant: 
        enabled: False
      pr_pts:
        enabled: False
        metric: False
      pr_pts_invariant: 
        enabled: False
        translate: False
    transform:
      cam_from_depth: &cam_from_depth False
      global_from_cam: &global_from_cam False
      global_from_cam_detach_pose: &global_from_cam_detach_pose False
      global_from_depth: &global_from_depth False
  val:
    to_extri: True
    align:
      to_first_cam: 
        enabled: True
        points: True
      pr_align_cam:
        enabled: True
        points: False
      pts_align_to_gt:
        enabled: True
        conf_percentage: null
        with_scale: True
        align_pose: False
        normalize_depth: False
        normalize_pose: False
      depth_align_to_gt:
        enabled: True
        conf_percentage: null
        pose: True
    normalize:
      gt_pts: False
      pr_pts:
        enabled: False
        metric: False
    metrics:
      camera:
        enabled: True
        abs_err: True
        rel_err: True
        abs_err_angle: True
        rel_err_angle: True
        # all_pairs_err: True
      depth:
        enabled: True
      recon:
        pts_err: True
        from_cam_err: False
        from_depth_err: False
    transform:
      cam_from_depth: *cam_from_depth
      global_from_cam: *global_from_cam
      global_from_cam_detach_pose: *global_from_cam_detach_pose
      global_from_depth: *global_from_depth

    


loss:
  _target_: train_utils.loss.MultitaskLoss
  camera: 
    weight: 5.0
    weight_focal: 0
    weight_trans: 0
    weight_rot: 0
    pose_encoding_type: &pose_encoding_type absT_quaR_FoV #absT_quaR_logK
    loss_type: "l1" # The paper uses smooth l1 loss, but we found l1 loss is more stable than smooth l1 and l2 loss.  
  angle_pose: 
    weight: 1.0
    weight_trans: 1.0
    weight_rot: 1.0
    relative_weight: 0.5
    absolute_weight: 0.5
    compute_relative: False
    compute_absolute: False
    relative_neighbors: 1
    loss_type: "l1" # The paper uses smooth l1 loss, but we found l1 loss is more stable than smooth l1 and l2 loss.  
  depth:
    weight: 1.0
    gradient_loss_fn: "grad" 
    valid_range: 0.98
  # point: null
  # If you want to enable point, use the following config
  point: 
    weight: 1.0
    global_aligned_weight: 0.1
    global_from_cam_weight: 0.05
    global_from_depth_weight: 0.05
    cam_from_depth_weight: 0.05
    gradient_loss_fn: "normal" 
    valid_range: 0.98
    aligned_valid_range: 0.8
    conf_percentage: 90
  switch: null
    # pts_align_to_gt: *pts_align_to_gt
    # pts_align_to_gt_rot: *pts_align_to_gt_rot
    # gt_align_to_pts: *gt_align_to_pts
    # pts_align_to_center: *pts_align_to_center
    # pts_center_world: *pts_center_world
  regulize_scale:
    enabled: True
    scale_weight: 0.3
    translation_weight: 0
  vggt: True
  enabled: true
  track: null   


optim:
  val_freq: 1
  param_group_modifiers: False
  warmup_epochs: -1


model:
  rope_freq: 100
  # rope_freq: -1
  first_cam: True