id: liucong12601 
desc: depth-file-list
run_id: 0
seed: 42
# simple:
#   - data.data_module.train_config.datasets.0: "HyperSim_Multi(allow_repeat=False, split='train', ROOT=['${data.data_root}/hypersim_processed'], image_list_path='/kaggle/working', transform=None, resolution=${..resolution}, num_views=${..num_views}, samples_per_scene=6, max_interval=25, min_interval=1, augs=${..augs})"
# simple:
#   - logging.log_freq: 100
#   - break_at: 20

is_private: true
enable_gpu: false
enable_tpu: false
enable_internet: true

# Optional: exact dataset/kernel dependencies for Kaggle metadata
dataset_sources:
  - liucong12601/ds-file-list
kernel_sources: []
competition_sources: []
model_sources: []
