_target_: fast3r.models.multiview_vggt_eval.MultiViewDUSt3RLitModule

# pretrained: /lc/code/pretrained/fast3r/model.safetensors
pretrained: /home/liucong/codes/pretrained/vggt/model.pt
log_detail: False
log_summary: False
weight_decay: 0.1
layer_decay: 1.0
scale_keywords: ["encoder", "decoder", "downstream_head"]
lr_scales: [0.001, 1.0, 1.0]

vggt: true
eval_use_pts3d_from_local_head: false

# compile model for faster training with pytorch 2.0
compile: false

net:
  _target_: vggt_model.vggt.models.vggt.VGGT

