_target_: fast3r.models.multiview_dust3r_module.MultiViewDUSt3RLitModule

# pretrained: /lc/code/pretrained/fast3r/model.safetensors
# pretrained: /home/liucong/codes/pretrained/vggt/model.pt_vggtdino
pretrained: /lc/code/pretrained/vggt/weights/model.pt_vggtdino
# pretrained: /lc/code/pretrained/depth_anything/depth_anything_vitl14.pt_depthanything
# pretrained: /lc/code/3D/a3R/logs/train/runs/ckpt19/checkpoints/epoch_019.ckpt
# pretrained: /lc/code/3D/a3R/dlogs/Compare/runs/2025-09-11_19-24-43/checkpoints/step_24500.ckpt
# pretrained: /path/to/checkpoints/DUSt3R_ViTLarge_BaseDecoder_512_dpt.pth
resume_from_checkpoint: ${ckpt_path}
log_detail: False
log_summary: False
weight_decay: 0.1
layer_decay: 1.0
scale_keywords: ["encoder", "decoder", "downstream_head", "cam_head", "pose_head"]
pretrain_keywords: ["encoder"]
lr_scales: [1.0, 1.0, 1.0, 0.01, 0.01]
vggt: false

eval_use_pts3d_from_local_head: true
eval_pts3d_from_depth: true

# compile model for faster training with pytorch 2.0
compile: false

optimizer:
  _target_: torch.optim.AdamW
  _partial_: true
  # lr: 1e-5
  betas:
    - 0.9
    - 0.95

# scheduler:
#   _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
#   _partial_: true
#   mode: min
#   factor: 0.1
#   patience: 10

scheduler:
  # _partial_: true
  warmup_epochs: 1
  warmup_steps: 2000
  epochs: ${trainer.max_epochs}
  total_steps: ${trainer.max_steps}
  eta_min: 1e-08
  min_lr: 3e-05
  lr: 3e-05
  muon_lr: 1e-3

net:
  _target_: fast3r.models.fast3r.Fast3R
  freeze: encoder
  # backbone fast3r encoder_and_head sandwich encoder mask none
  encoder_args:
    encoder_type: dino_v2
    img_size: 512
    patch_size: 14
    patch_embed_cls: PatchEmbedDust3R
    embed_dim: 1024
    num_heads: 16
    # num_register_tokens: 0 
    num_register_tokens: 4 
    #for depth anything is 0, vggt is 4
    depth: 24
    mlp_ratio: 4
    pos_embed: RoPE100
    attn_implementation: flash_attention
  decoder_args:
    decoder_type: vggt
    attn_bias_for_inference_enabled: false
    random_image_idx_embedding: true
    enc_embed_dim: ${model.net.encoder_args.embed_dim}
    embed_dim: 1024
    num_heads: 16
    depth: 12
    mlp_ratio: 4.0
    # pos_embed: RoPE100
    # pos_embed: Token
    # pos_embed: cosine
    qkv_bias: true
    drop: 0.0
    attn_drop: 0.0
    attn_implementation: flash_attention
    has_img_pos: false
    vggt_camera: false
  head_args:
    head_dim_scale: 2
    head_type: dpt
    output_mode: pts3d
    landscape_only: false
    with_fast3r_head: true
    with_local_head: false
    with_depth_head: false
    depth_mode:
      # - exp
      - inv_log
      - !!float -inf
      - !!float inf
    # conf_mode:
    #   - sigmoid
    #   - 1
    #   - 100
    conf_mode:
      - exp
      - 1.0
      - !!float inf
    pose_mode:
      # - exp
      - inv_log
      - !!float -inf
      - !!float inf
    patch_size: 14
    has_pose: true
    global_pose: false
    has_rgb: false
    has_cam: true
    cam_dim: 2
    pose_drop: 0.0
    # vggt_cam: true
    # vggt_depth: true
    # vggt_point: true
    # vggt_local_point: true

train_criterion:
  _target_: fast3r.dust3r.losses.combine_losses
  losses:
    - _target_: fast3r.dust3r.losses.ConfLossMultiviewPose
      pixel_loss:
        _target_: fast3r.dust3r.losses.Regr3DMultiviewV3
        criterion:
          _target_: fast3r.dust3r.losses.L21Loss
        norm_mode: &norm_mode avg_dis #'depth'
        # norm_mode: depth #avg_dis #'depth'
        # norm_mode: ~
        relative: &relative false #true
        # dist_clip: 5
        global_from_local: false
        local_from_depth: false
        rel_key: &rel_key pred_world_local
      alpha: 0.2
      pose_loss:
        _target_: fast3r.dust3r.loss.pose_loss.CameraPoseLoss
        weight: 1.0
        alpha: 2.0
        compute_relative: false
    # - _target_: fast3r.dust3r.loss.pose_loss.CameraPoseLoss
    #   weight: 1.0
    #   alpha: 2.0
    #   compute_relative: false
      
      # depth_loss:
      #   _target_: fast3r.dust3r.loss.depth_loss.ConfDepthLoss
      #   weight: 1.0
      #   alpha: 0.2
      #   # pred_key: pts3d_in_self_view
      #   # conf_key: conf_self
      #   pred_key: depth
      #   conf_key: conf_depth
      #   # gradient_loss: grad
      #   gradient_loss: none
      # cam_loss:
      #   _target_: fast3r.dust3r.loss.pose_loss.CameraIntrinsicLoss
      #   weight: 2.0
      #   pred_key: 'camera_intrinsics'
      #   fuv_scaler: 128
      
validation_criterion:
  _target_: fast3r.dust3r.losses.combine_losses
  losses:
    - _target_: fast3r.dust3r.losses.Eval3DMultiView
      criterion:
        _target_: fast3r.dust3r.losses.SmoothL1Loss
      norm_mode: *norm_mode
      # norm_mode: depth #avg_dis #'depth'
      # norm_mode: ~
      relative: *relative
      # dist_clip: 5
      global_from_local: false
      local_from_depth: false
      rel_key: *rel_key
    # pose_loss:
    - _target_: fast3r.dust3r.loss.pose_loss.CameraPoseLoss
      weight: 1.0
      compute_relative: false
    # depth_loss:
    #   _target_: fast3r.dust3r.loss.depth_loss.ConfDepthLoss
    #   weight: 1.0
    #   alpha: 0.2
    #   # pred_key: pts3d_in_self_view
    #   # conf_key: conf_self
    #   pred_key: depth
    #   conf_key: conf_depth
    #   # gradient_loss: grad
    #   gradient_loss: none
    # cam_loss:
    #   _target_: fast3r.dust3r.loss.pose_loss.CameraIntrinsicLoss
    #   weight: 2.0
    #   pred_key: 'camera_intrinsics'
    #   fuv_scaler: 128