_target_: fast3r.models.multiview_dust3r_module.MultiViewDUSt3RLitModule

pretrained: /home/liucong/codes/pretrained/fast3r/model.safetensors
# pretrained: /lc/code/pretrained/vggt/weights/model.pt_vggtdino
# pretrained: /lc/code/3D/a3R/logs/train/runs/ckpt19/checkpoints/epoch_019.ckpt
# pretrained: /lc/code/3D/a3R/logs/train/runs/ckpt239/checkpoints/epoch_239.ckpt
# pretrained: /path/to/checkpoints/DUSt3R_ViTLarge_BaseDecoder_512_dpt.pth
# resume_from_checkpoint: ${ckpt_path}

log_detail: False
eval_use_pts3d_from_local_head: true

# compile model for faster training with pytorch 2.0
compile: false


net:
  _target_: fast3r.models.fast3r.Fast3R
  freeze: encoder
  # backbone fast3r encoder_and_head sandwich encoder mask none
  encoder_args:
    encoder_type: croco
    img_size: 512
    patch_size: 16
    patch_embed_cls: PatchEmbedDust3R
    embed_dim: 1024
    num_heads: 16
    depth: 24
    mlp_ratio: 4
    pos_embed: RoPE100
    attn_implementation: flash_attention
  decoder_args:
    decoder_type: fast3r
    attn_bias_for_inference_enabled: false
    random_image_idx_embedding: true
    enc_embed_dim: ${model.net.encoder_args.embed_dim}
    embed_dim: 1024
    num_heads: 16
    depth: 24
    mlp_ratio: 4.0
    # pos_embed: RoPE100
    qkv_bias: true
    drop: 0.0
    attn_drop: 0.0
    attn_implementation: flash_attention
  head_args:
    head_dim_scale: 1
    head_type: dpt
    output_mode: pts3d
    landscape_only: false
    with_fast3r_head: true
    with_local_head: true
    depth_mode:
      - exp
      - !!float -inf
      - !!float inf
    conf_mode:
      - exp
      - 1
      - !!float inf
    pose_mode:
      - exp
      - !!float -inf
      - !!float inf
    patch_size: 16
    has_pose: false
    has_rgb: false
